<form method="post">
	<input type="text" name="searchInput" size="50" />
	<input type="submit" name="submitForm" value="Search">
</form>
<p>
	<a href="<?php echo PATH_WEBROOT; ?>/">Home</a> | <a href="<?php echo PATH_WEBROOT; ?>/new">New</a>
</p>
<?php if(!empty($TemplateData['entries'])) { ?>
<?php
	foreach($TemplateData['entries'] as $k=>$v) {
		$_link = '';
		foreach($v['breadcrumb'] as $be) {
			$_link .= '/'.$be;
			echo '<a href="'.PATH_WEBROOT.$_link.'">'.$be.'</a> ';
		}
?>
<ul>
	<?php foreach($v['e'] as $e) { ?>
	<li><a href="<?php echo PATH_WEBROOT; ?>/<?php echo $e['link']; ?>"><?php echo $e['ident']; ?></a> <?php echo $e['date']; ?> <?php echo htmlspecialchars($e['body'],ENT_HTML5); ?></li>
	<?php } ?>
</ul>
<?php
	}
} else { ?>
<p>Nothing here.</p>
<?php } ?>
